In [1]:
import pandas as pd
import seaborn as sns

In [2]:
dfMigration = pd.read_csv("Estimated_Migration.csv")
dfImmigration = pd.read_csv("Estimated_Immigration.csv")

In [19]:
dfMigration.head(15)

    Year     Age Group         Sex       Inward or Outward Flow  VALUE
0   1987      All ages  Both sexes                Net migration  -23.0
1   1987      All ages  Both sexes  Emigrants: All destinations   40.2
2   1987      All ages  Both sexes      Immigrants: All origins   17.2
3   1987      All ages        Male                Net migration    NaN
4   1987      All ages        Male  Emigrants: All destinations    NaN
5   1987      All ages        Male      Immigrants: All origins    NaN
6   1987      All ages      Female                Net migration    NaN
7   1987      All ages      Female  Emigrants: All destinations    NaN
8   1987      All ages      Female      Immigrants: All origins    NaN
9   1987  0 - 14 years  Both sexes                Net migration    NaN
10  1987  0 - 14 years  Both sexes  Emigrants: All destinations    2.8
11  1987  0 - 14 years  Both sexes      Immigrants: All origins    3.1
12  1987  0 - 14 years        Male                Net migration    NaN
13  1987  0 - 14 years        Male  Emigrants: All destinations    1.4
14  1987  0 - 14 years        Male      Immigrants: All origins    1.3

In [4]:
dfMigration.shape

(1998, 7)

In [5]:
dfMigration['Sex'].unique()

array(['Both sexes', 'Male', 'Female'], dtype=object)

In [11]:
dfMigration['Age Group'].unique()

array(['All ages', '0 - 14 years', '15 - 24 years', '25 - 44 years',
       '45 - 64 years', '65 years and over'], dtype=object)

In [7]:
dfMigration.dtypes

STATISTIC Label            object
Year                        int64
Age Group                  object
Sex                        object
Inward or Outward Flow     object
UNIT                       object
VALUE                     float64
dtype: object

In [8]:
dfMigration.UNIT.unique() #Checking that the value dor UNIT and STATISTIC value are the same for all to delete these features

array(['Thousand'], dtype=object)

In [9]:
dfMigration = dfMigration.drop(['UNIT','STATISTIC Label'],axis=1)

In [12]:
dfMigration.loc[dfMigration['Sex']=='Both sexes']

      Year          Age Group         Sex       Inward or Outward Flow  VALUE
0     1987           All ages  Both sexes                Net migration  -23.0
1     1987           All ages  Both sexes  Emigrants: All destinations   40.2
2     1987           All ages  Both sexes      Immigrants: All origins   17.2
9     1987       0 - 14 years  Both sexes                Net migration    NaN
10    1987       0 - 14 years  Both sexes  Emigrants: All destinations    2.8
...    ...                ...         ...                          ...    ...
1981  2023      45 - 64 years  Both sexes  Emigrants: All destinations    5.3
1982  2023      45 - 64 years  Both sexes      Immigrants: All origins   16.9
1989  2023  65 years and over  Both sexes                Net migration    3.0
1990  2023  65 years and over  Both sexes  Emigrants: All destinations    1.0
1991  2023  65 years and over  Both sexes      Immigrants: All origins    4.0

[666 rows x 5 columns]

In [14]:
dfMigration.loc[dfMigration['Sex']=='Both sexes'].isna().sum()

Year                       0
Age Group                  0
Sex                        0
Inward or Outward Flow     0
VALUE                     75
dtype: int64

In [15]:
dfMigration.loc[dfMigration['Sex']=='Male'].isna().sum()

Year                        0
Age Group                   0
Sex                         0
Inward or Outward Flow      0
VALUE                     120
dtype: int64

In [16]:
dfMigration.loc[dfMigration['Sex']=='Female'].isna().sum()

Year                        0
Age Group                   0
Sex                         0
Inward or Outward Flow      0
VALUE                     120
dtype: int64