In [13]:
import pandas as pd
import seaborn as sns

In [41]:
dfMigration = pd.read_csv("Estimated_Migration.csv")
dfImmigration = pd.read_csv("Estimated_Immigration.csv")

In [42]:
dfMigration.head(10)

,STATISTIC Label,Year,Age Group,Sex,Inward or Outward Flow,UNIT,VALUE
0,Estimated Migration (Persons in April),1987,All ages,Both sexes,Net migration,Thousand,-23.0
1,Estimated Migration (Persons in April),1987,All ages,Both sexes,Emigrants: All destinations,Thousand,40.2
2,Estimated Migration (Persons in April),1987,All ages,Both sexes,Immigrants: All origins,Thousand,17.2
3,Estimated Migration (Persons in April),1987,All ages,Male,Net migration,Thousand,NaN
4,Estimated Migration (Persons in April),1987,All ages,Male,Emigrants: All destinations,Thousand,NaN
5,Estimated Migration (Persons in April),1987,All ages,Male,Immigrants: All origins,Thousand,NaN
6,Estimated Migration (Persons in April),1987,All ages,Female,Net migration,Thousand,NaN
7,Estimated Migration (Persons in April),1987,All ages,Female,Emigrants: All destinations,Thousand,NaN
8,Estimated Migration (Persons in April),1987,All ages,Female,Immigrants: All origins,Thousand,NaN
9,Estimated Migration (Persons in April),1987,0 - 14 years,Both sexes,Net migration,Thousand,NaN

In [30]:
dfMigration['Sex'].unique()

array(['Both sexes', 'Male', 'Female'], dtype=object)

In [47]:
dfMigration['Age Group'].unique()

array(['All ages', '0 - 14 years', '15 - 24 years', '25 - 44 years',
       '45 - 64 years', '65 years and over'], dtype=object)

In [49]:
dfMigration.dtypes

STATISTIC Label            object
Year                        int64
Age Group                  object
Sex                        object
Inward or Outward Flow     object
UNIT                       object
VALUE                     float64
dtype: object

In [53]:
dfMigration.UNIT.unique()

array(['Thousand'], dtype=object)

In [55]:
dfMigration.drop(['UNIT'],axis=1)

,STATISTIC Label,Year,Age Group,Sex,Inward or Outward Flow,VALUE
0,Estimated Migration (Persons in April),1987,All ages,Both sexes,Net migration,-23.0
1,Estimated Migration (Persons in April),1987,All ages,Both sexes,Emigrants: All destinations,40.2
2,Estimated Migration (Persons in April),1987,All ages,Both sexes,Immigrants: All origins,17.2
3,Estimated Migration (Persons in April),1987,All ages,Male,Net migration,NaN
4,Estimated Migration (Persons in April),1987,All ages,Male,Emigrants: All destinations,NaN
...,...,...,...,...,...,...
1993,Estimated Migration (Persons in April),2023,65 years and over,Male,Emigrants: All destinations,0.4
1994,Estimated Migration (Persons in April),2023,65 years and over,Male,Immigrants: All origins,1.5
1995,Estimated Migration (Persons in April),2023,65 years and over,Female,Net migration,1.8
1996,Estimated Migration (Persons in April),2023,65 years and over,Female,Emigrants: All destinations,0.6
1997,Estimated Migration (Persons in April),2023,65 years and over,Female,Immigrants: All origins,2.5

In [58]:
dfMigration['STATISTIC Label'].unique()

array(['Estimated Migration (Persons in April)'], dtype=object)

In [59]:
dfMigration.drop(['STATISTIC Label'], axis=1)

,Year,Age Group,Sex,Inward or Outward Flow,UNIT,VALUE
0,1987,All ages,Both sexes,Net migration,Thousand,-23.0
1,1987,All ages,Both sexes,Emigrants: All destinations,Thousand,40.2
2,1987,All ages,Both sexes,Immigrants: All origins,Thousand,17.2
3,1987,All ages,Male,Net migration,Thousand,NaN
4,1987,All ages,Male,Emigrants: All destinations,Thousand,NaN
...,...,...,...,...,...,...
1993,2023,65 years and over,Male,Emigrants: All destinations,Thousand,0.4
1994,2023,65 years and over,Male,Immigrants: All origins,Thousand,1.5
1995,2023,65 years and over,Female,Net migration,Thousand,1.8
1996,2023,65 years and over,Female,Emigrants: All destinations,Thousand,0.6
1997,2023,65 years and over,Female,Immigrants: All origins,Thousand,2.5

In [52]:
dfImmigration.shape

(504, 6)

In [43]:
dfImmigration.head(10)

,Statistic Label,Year,Sex,Citizenship,UNIT,VALUE
0,Estimated Immigration (Persons in April),1996,Both sexes,All Countries,Thousand,39.2
1,Estimated Immigration (Persons in April),1996,Both sexes,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,5.0
2,Estimated Immigration (Persons in April),1996,Both sexes,EU15 to EU27 (accession countries joined post ...,Thousand,NaN
3,Estimated Immigration (Persons in April),1996,Both sexes,United Kingdom,Thousand,8.3
4,Estimated Immigration (Persons in April),1996,Both sexes,Ireland,Thousand,17.7
5,Estimated Immigration (Persons in April),1996,Both sexes,"All countries excluding Ireland,United Kingdom...",Thousand,8.2
6,Estimated Immigration (Persons in April),1996,Male,All Countries,Thousand,18.8
7,Estimated Immigration (Persons in April),1996,Male,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,2.2
8,Estimated Immigration (Persons in April),1996,Male,EU15 to EU27 (accession countries joined post ...,Thousand,NaN
9,Estimated Immigration (Persons in April),1996,Male,United Kingdom,Thousand,4.3

In [46]:
    dfMigration.loc[dfMigration['Age Group']=='All ages' and dfMigration['Year']==1996 ]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().